<section id="wrapper">
    <div class="login-register">
      <div class=" row justify-content-center align-items-center">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" [formGroup]="loginForm" (submit)="loginUser()">
                    <h3 class="box-title m-b-20">Ingrese a su cuenta</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" formControlName="email" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" formControlName="password"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-10">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Ingresar!</button>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-sm-12 text-center">
                            ¿No tienes una cuenta? <a href="#" class="text-info m-l-5"><b>Registrar</b></a>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            ¿Olvidaste tu contraseña? <a href="#" class="text-info m-l-5"><b>Recuperar</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</section>